@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap);

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #0a143a;
}

.container {
  max-width: 1146px;
  margin: auto;
}

.header {
  padding-block: 30px;
  margin-bottom: 12px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.navbar-pannel {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.navbar-menu {
  margin-right: auto;
}

.menu {
  list-style: none;
  margin: 0;
  padding-left: 22px;
  display: flex;
  gap: 14px;
}

.menu-link {
  color: inherit;
}

.button {
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}

.button-link {
  color: inherit
}

.button-primary {
  color: #ffffff;
  background-color: #256eeb;
  border-radius: 5px;

}

.search-panel {
  display: flex;
  padding: 3px;
  height: 50px;
  background-color: #256eeb;
  border-radius: 5px;
}

.search-input {
  flex-grow: 1;
  padding: 14px 21px;
  background-color: #fff;
  border-radius: 5px;
  border: none;
}

.search-button {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #256eeb;
  color: #fff;
  border: none;
  padding-left: 20px;
  padding-right: 17px;
}

.page-content {
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 30px;
}

.card-image {
  border-radius: 10px;
  width: 264px;
  height: 178px;
  object-fit: cover;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 22px;

}

.card {
  margin-bottom: 20px;
  max-width: 264px;
}

.card-title {
  margin-top: 12px;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 19px;
  color: #256eeb;

}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.like {
  margin-left: 15px;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.card-price {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #0a143a;
  margin-bottom: 10px;
}

.card-text {
  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
  margin-bottom: 4px;
  margin-top: 0;
}

.sidebar .page-title {
  font-size: 18px;
  line-height: 21px;
}

.service {
  margin-bottom: 25px;
  max-width: 231px;
}

.service-title {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  margin-top: 7px;
  margin-bottom: 5px;
}

.service-text {
  font-size: 14px;
  line-height: 16px;
  max-width: 217px;
}

.footer-text {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  text-decoration: underline;
  color: #C4C4C4;
  margin-bottom: 5px;
}

.footer-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 16px;
}

.footer-link {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  margin-bottom: 5px;
}

.main-single {
  display: flex;
  align-items: flex-start;
}

.content {
  max-width: 460px;
  margin-right: 30px;
}

.card-image {
  width: 100%;
  height: auto;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  border-radius: 10px;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
  border-radius: 10px;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.content-text {
  font-size: 14px;
  line-height: 140%;
}

.author {
  width: 264px;
}

.page-title {
  margin-top: 0;
  margin-bottom: 25px;
}

.single-price {
  display: block;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 25px;

}

.author-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 25px;
  margin-bottom: 30px;

}

.author-name {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  display: block;
  margin-bottom: 4px;
}

.rating-count {
  opacity: 0.5;
  margin-left: 10px;
}

.author-status {
  font-size: 12px;
  line-height: 14px;

}

.button-block {
  width: 100%;
  height: 50px;
  margin-bottom: 14px;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: #256eeb;
}

.button-block:last-child {
  background-color: #14B4BE;
}

.menu-button {
  background-color: #fff;
  border: none;
  cursor: pointer;
  display: none;
}

.close-menu {
  display: none;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .card {
    width: 45%;
    max-width: 330px;
  }

  .card-image {
    width: 100%;

    height: 210px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }

  .card-image {
    height: 160px;
  }

}

@media (max-width: 768px) {
  .container {
    max-width: 560px;
  }

  .card {
    width: 100%;
    max-width: none;
  }

  .page-content {
    grid-template-columns: 8fr 4fr;
  }

  .menu-button {
    display: block;
  }

  .close-menu {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    background-color: #fff;
    border: none;
  }

  .navbar-pannel {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s, opacity 0.3s;
    transform: translateX(100%);
    opacity: 0;
  }

  .is-open {
    transform: translateX(0);
    opacity: 1;
  }

  .navbar-menu {
    margin-left: auto;
  }

  .menu {
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    font-size: 20px;
  }

  .button-group {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 90%;
  }

  .page-content {
    grid-template-columns: 12fr;
  }

  .card-image {
    height: 240px;
  }

  .search-button-text {
    display: none;
  }
}