@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap);

body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #0a143a;
}

.header {
    max-width: 1146px;
    margin: auto;
    padding-top: 30px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.navbar-menu {
    margin-right: auto;
}

.menu {
    list-style: none;
    margin: 0;
    padding-left: 22px;
    display: flex;
    gap: 14px;
}

.menu-link {
    color: inherit;
}

.button {
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

.button-link {
    color: inherit
}

.button-primary {
    color: #ffffff;
    background-color: #256eeb;
    border-radius: 5px;

}

.search-panel {
    display: flex;
    padding: 3px;
    height: 50px;
    background-color: #256eeb;
    border-radius: 5px;
}

.search-input {
    flex-grow: 1;
    padding: 14px 21px;
    background-color: #fff;
    border-radius: 5px;
    border: none;
}

.search-button {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #256eeb;
    color: #fff;
    border: none;
    padding-left: 20px;
    padding-right: 17px;
}